In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
games = pd.read_csv('games.csv')
players = pd.read_csv('players.csv')
plays = pd.read_csv('plays.csv')
tackels = pd.read_csv('tackles.csv')
first_week = pd.read_csv('tracking_week_1.csv')

In [4]:
games.head()

       gameId  season  week    gameDate gameTimeEastern homeTeamAbbr visitorTeamAbbr  homeFinalScore  visitorFinalScore
0  2022090800    2022     1  09/08/2022        20:20:00           LA             BUF              10                 31
1  2022091100    2022     1  09/11/2022        13:00:00          ATL              NO              26                 27
2  2022091101    2022     1  09/11/2022        13:00:00          CAR             CLE              24                 26
3  2022091102    2022     1  09/11/2022        13:00:00          CHI              SF              19                 10
4  2022091103    2022     1  09/11/2022        13:00:00          CIN             PIT              20                 23

In [5]:
teamsAbbr = games['homeTeamAbbr'].unique()

In [6]:
# tackels.head()

In [7]:
first_week.head()

       gameId  playId    nflId     displayName  frameId                        time  jerseyNumber club playDirection      x      y     s     a   dis       o     dir         event
0  2022090800      56  35472.0  Rodger Saffold        1  2022-09-08 20:24:05.200000          76.0  BUF          left  88.37  27.27  1.62  1.15  0.16  231.74  147.90           NaN
1  2022090800      56  35472.0  Rodger Saffold        2  2022-09-08 20:24:05.299999          76.0  BUF          left  88.47  27.13  1.67  0.61  0.17  230.98  148.53  pass_arrived
2  2022090800      56  35472.0  Rodger Saffold        3  2022-09-08 20:24:05.400000          76.0  BUF          left  88.56  27.01  1.57  0.49  0.15  230.98  147.05           NaN
3  2022090800      56  35472.0  Rodger Saffold        4  2022-09-08 20:24:05.500000          76.0  BUF          left  88.64  26.90  1.44  0.89  0.14  232.38  145.42           NaN
4  2022090800      56  35472.0  Rodger Saffold        5  2022-09-08 20:24:05.599999          76.0  BUF          left  88.72  26.80  1.29  1.24  0.13  233.36  141.95           NaN

In [8]:
df = pd.merge(first_week, plays, on=['gameId', 'playId'], how='inner')

In [9]:
test = df.loc[(df['gameId'] == 2022090800) & (df['playId'] == 56)].to_csv('test.csv')

In [15]:
plays_positive = df.loc[(df['expectedPointsAdded'] > 0)]
plays_positive.sort_values(by='expectedPointsAdded')

frames = plays_positive.iloc[-6:]
frames

             gameId  playId  nflId displayName  frameId                        time  jerseyNumber      club playDirection          x          y     s     a   dis   o  dir   event  ballCarrierId ballCarrierDisplayName                                    playDescription  quarter  down  yardsToGo possessionTeam defensiveTeam yardlineSide  yardlineNumber gameClock  preSnapHomeScore  preSnapVisitorScore passResult  passLength  penaltyYards  prePenaltyPlayResult  playResult playNullifiedByPenalty  absoluteYardlineNumber offenseFormation  defendersInTheBox  passProbability  preSnapHomeTeamWinProbability  preSnapVisitorTeamWinProbability  homeTeamWinProbabilityAdded  visitorTeamWinProbilityAdded  expectedPoints  expectedPointsAdded foulName1 foulName2  foulNFLId1  foulNFLId2
1405685  2022091200    3723    NaN    football       59  2022-09-12 23:02:32.000000           NaN  football          left  60.830002  52.049999  2.76  1.68  0.28 NaN  NaN     NaN          53464       Javonte Williams  (2:00) (Shotgun) R.Wilson pass short right to ...        4     3          2            DEN           SEA          DEN              40      2:00                17                   16          C         2.0           NaN                     9           9                      N                      70          SHOTGUN                5.0         0.741072                       0.448329                          0.551671                    -0.102317                      0.102317        1.318689             1.072434       NaN       NaN         NaN         NaN
1405686  2022091200    3723    NaN    football       60  2022-09-12 23:02:32.099999           NaN  football          left  60.639999  52.180000  2.14  4.03  0.23 NaN  NaN  tackle          53464       Javonte Williams  (2:00) (Shotgun) R.Wilson pass short right to ...        4     3          2            DEN           SEA          DEN              40      2:00                17                   16          C         2.0           NaN                     9           9                      N                      70          SHOTGUN                5.0         0.741072                       0.448329                          0.551671                    -0.102317                      0.102317        1.318689             1.072434       NaN       NaN         NaN         NaN
1405687  2022091200    3723    NaN    football       61  2022-09-12 23:02:32.200000           NaN  football          left  60.500000  52.270000  1.34  5.43  0.17 NaN  NaN     NaN          53464       Javonte Williams  (2:00) (Shotgun) R.Wilson pass short right to ...        4     3          2            DEN           SEA          DEN              40      2:00                17                   16          C         2.0           NaN                     9           9                      N                      70          SHOTGUN                5.0         0.741072                       0.448329                          0.551671                    -0.102317                      0.102317        1.318689             1.072434       NaN       NaN         NaN         NaN
1405688  2022091200    3723    NaN    football       62  2022-09-12 23:02:32.299999           NaN  football          left  60.419998  52.330002  0.63  5.78  0.10 NaN  NaN     NaN          53464       Javonte Williams  (2:00) (Shotgun) R.Wilson pass short right to ...        4     3          2            DEN           SEA          DEN              40      2:00                17                   16          C         2.0           NaN                     9           9                      N                      70          SHOTGUN                5.0         0.741072                       0.448329                          0.551671                    -0.102317                      0.102317        1.318689             1.072434       NaN       NaN         NaN         NaN
1405689  2022091200    3723    NaN    football       63  2022-09-12 23:02:32.400000           NaN  football          left  60.389999  52.360001  0.10  5.08  0.04 NaN  NaN     NaN          53464       Javonte Williams  (2:00) (Shotgun) R.Wilson pass short right to ...        4     3          2            DEN           SEA          DEN              40      2:00                17                   16          C         2.0           NaN                     9           9                      N                      70          SHOTGUN                5.0         0.741072                       0.448329                          0.551671                    -0.102317                      0.102317        1.318689             1.072434       NaN       NaN         NaN         NaN
1405690  2022091200    3723    NaN    football       64  2022-09-12 23:02:32.500000           NaN  football          left  60.400002  52.349998  0.33  4.22  0.01 NaN  NaN     NaN          53464       Javonte Williams  (2:00) (Shotgun) R.Wilson pass short right to ...        4     3          2            DEN           SEA          DEN              40      2:00                17                   16          C         2.0           NaN                     9           9                      N                      70          SHOTGUN                5.0         0.741072                       0.448329                          0.551671                    -0.102317                      0.102317        1.318689             1.072434       NaN       NaN         NaN         NaN

In [18]:
combine = pd.read_csv('/Users/benjaminzeisberg/university/cs171/final-project-correct/data/nfl-stats/combine.csv')

In [19]:
combine

       combineId  playerId  combineYear combinePosition  combineHeight  combineWeight  combineHand nameFirst     nameLast          nameFull position  collegeId    nflId         college  heightInches  weight         dob  ageAtDraft                                   playerProfileUrl       homeCity homeState homeCountry             highSchool           hsCity hsState  hsCountry  combineArm  combine40yd  combineVert  combineBench  combineShuttle  combineBroad  combine3cone  combine60ydShuttle  combineWonderlic
0          10000  19870067         1987              CB           69.8            198         8.50   Michael        Adams     Michael Adams       DB    72401.0  2508219  Arkansas State          70.0   195.0  1964-04-05   23.076712  http://www.nfl.com/player/MichaelAdams/2508219...         Shelby        MS         USA                    NaN              NaN     NaN        NaN       30.50         4.42         32.0          13.0            4.60         118.0           NaN               11.91               NaN
1          10001  19870154         1987               C           74.8            266        10.25      John      Adickes      John Adickes        C    76706.0  2508242          Baylor          75.0   264.0  1964-06-29   22.843836  http://www.nfl.com/player/JohnAdickes/2508242/...         Queens        NY         USA                    NaN              NaN     NaN        NaN       30.00         4.97         26.5          25.0            4.60         103.0           NaN                 NaN               NaN
2          10002  19870800         1987              FB           71.8            217         9.00     Tommy         Agee        Tommy Agee       FB    36849.0      NaN          Auburn          72.0   217.0         NaN         NaN                                                NaN            NaN       NaN         NaN                    NaN              NaN     NaN        NaN       30.75          NaN          NaN          15.0             NaN           NaN           NaN                 NaN               NaN
3          10003  19870121         1987               C           75.0            279        10.50     David    Alexander   David Alexander        C    74104.0  2499384      Tulsa (OK)          75.0   285.0  1964-07-28   22.764384  http://www.nfl.com/player/DavidAlexander/24993...  Silver Spring        MD         USA                    NaN              NaN     NaN        NaN       32.75         5.13         27.5          22.0            4.33         105.0           NaN                 NaN               NaN
4          10004  19870801         1987              WR           72.1            202        10.00    Lyneal       Alston     Lyneal Alston       WR    39406.0  2508416   Southern Miss          72.0   202.0  1964-07-23   22.778082  http://www.nfl.com/player/LynealAlston/2508416...         Mobile        AL         USA                    NaN              NaN     NaN        NaN       33.00         4.64         32.0           7.0            4.52         114.0           NaN               11.85               NaN
...          ...       ...          ...             ...            ...            ...          ...       ...          ...               ...      ...        ...      ...             ...           ...     ...         ...         ...                                                ...            ...       ...         ...                    ...              ...     ...        ...         ...          ...          ...           ...             ...           ...           ...                 ...               ...
10075      20496  20190754         2019               S           72.0            209          NaN    Andrew      Wingard    Andrew Wingard       DB    82071.0  2562606         Wyoming          72.0   209.0  1996-12-05   22.408219  http://www.nfl.com/player/AndrewWingard/256260...            NaN       NaN         NaN                    NaN              NaN     NaN        NaN         NaN         4.56         36.5           9.0            4.20         121.0          7.08                 NaN               NaN
10076      20497  20190077         2019             EDG           75.0            256          NaN     Chase     Winovich    Chase Winovich       DE    48109.0  2562607        Michigan          75.0   250.0  1995-04-19   24.041096  http://www.nfl.com/player/ChaseWinovich/256260...            NaN       NaN         NaN    Thomas Jefferson HS  Jefferson Hills      PA        USA         NaN         4.59         30.5          18.0            4.11         116.0          6.94                 NaN               NaN
10077      20498  20190110         2019               P           74.0            218          NaN     Mitch   Wishnowsky  Mitch Wishnowsky        P    84112.0  2562609            Utah          74.0   221.0  1992-03-02   27.172603  http://www.nfl.com/player/MitchWishnowsky/2562...       Gosnells       NaN   Australia  Lumen Christi College            Perth     NaN  Australia         NaN         4.63         32.5           NaN             NaN         117.0           NaN                 NaN               NaN
10078      20499  20190755         2019               S           71.0            205          NaN   Zedrick        Woods     Zedrick Woods       DB    38677.0  2562549     Mississippi          71.0   203.0  1997-08-03   21.747945  http://www.nfl.com/player/ZedrickWoods/2562549...            NaN       NaN         NaN                    NaN              NaN     NaN        NaN         NaN         4.29         34.5          19.0            4.15         122.0          7.00                 NaN               NaN
10079      20500  20191010         2019               S           74.0            212          NaN      Evan  Worthington  Evan Worthington        S    80309.0  2562550        Colorado          74.0   200.0  1995-09-18   23.624658  http://www.nfl.com/player/EvanWorthington/2562...         Denver        CO         USA                    NaN              NaN     NaN        NaN         NaN         4.63         33.5          17.0            4.37         121.0          7.07                 NaN               NaN

[10080 rows x 35 columns]

In [ ]:
path = '/Users/benjaminzeisberg/university/cs171/final-project-correct/'

In [20]:
fumbles = pd.read_csv('/Users/benjaminzeisberg/university/cs171/final-project-correct//fumbles.csv')

In [21]:
fumbles

          fumId    playId  teamId  playerId fumPosition   fumType  fumOOB  fumTurnover  fumNull
0        800001         1    3800  20020185          RB    forced       0          0.0        0
1        800002        27    3200  20000239          FB    forced       0          0.0        0
2        800003        53    3200  20000199          QB  unforced       0          1.0        0
3        800004        56    3800  20020081          QB    forced       0          0.0        0
4        800005        84    3800  19970057          LB    forced       1          0.0        0
...         ...       ...     ...       ...         ...       ...     ...          ...      ...
14905  15242571  15084212    4600  20150069          WR    forced       1          0.0        0
14906  15242572  15084271    4900  20180038          RB    forced       0          1.0        0
14907  15242573  15084330     200  20080003          QB    forced       0          1.0        0
14908  15242574  15084351    4900  20170581          RB    forced       0          0.0        0
14909  15242575  15084407    4900  20180038          RB    forced       1          0.0        0

[14910 rows x 9 columns]

In [ ]:
sacks = pd.read_csv('')